PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://amar-kitchen:amar-kitchen@cluster0.xnyro57.mongodb.net/amar-kitchen?appName=Cluster0

# JWT
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d

# Firebase Admin SDK
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_CLIENT_EMAIL=your_firebase_client_email
FIREBASE_PRIVATE_KEY="your_firebase_private_key"

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# SSLCommerz
SSLCOMMERZ_STORE_ID=your_store_id
SSLCOMMERZ_STORE_PASSWORD=your_store_password
SSLCOMMERZ_IS_LIVE=false

# Google Maps
GOOGLE_MAPS_API_KEY=your_google_maps_key

# Frontend URL (for CORS & payment redirect)
FRONTEND_URL=http://localhost:3000
